<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= d = DateTime.now %>
    <h1>Today</h1>
    <p>The date is <%=d.strftime("%A")%>, <%=d.strftime("%B")%> <%=d.strftime("%d")%>, <%=d.strftime("%Y")%></p>
  </body>
</html>
